<div class="col-md-6">
    <div class="border-box">
        <h2>Sign up</h2>
        <p>Please enter your email address to create an account.</p>
<%= form_tag('/sessions') do%>
  <div class="email">
    <%= label_tag :email %>
    <%= text_field_tag :email, "", :class => 'input-sm form-full' %>
  </div>
  <div class="password">
    <%= label_tag :password %>
    <%= password_field_tag :password, "", :class => 'input-sm form-full' %>
  </div>
  <%= submit_tag "SIGN UP", :class => 'btn btn-md btn-black' %>
<%end%>
