<div class="links">
  <% if logged_in? %>
    <%= link_to "Log Out", logout_path, method: :delete %>
    <%= link_to "Home", dashboard_path %>
    <!-- <%= link_to "Past happiness", past_happiness_path %> -->
  <%else%>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Sign In", login_path %>
  <%end%>
</div>

<% if logged_in? %>
  <!-- <%= image_tag current_user.avatar.url(:small) %> -->
  <%= current_user.name %>
  <%= link_to "Settings", edit_user_path(current_user), :class => "edit-user" %>
<%end%>
